:root {
  /*COLORS*/

  --main-color: #e75480;
  --lighter-main-color: #ef779f;
  --darker-main-color: #d52d57;
  --detail-color: #ff9f00;
  --lighter-detail-color: #f6c449;
  --darker-detail-color: #d47d2d;
  --black-color: #15090c;
  --withe-color: #fdf2f6;
  --dark-grey-color: #5d5e5c;
  --grey-color: #848482;
  --light-grey-color: #d1d1d0;
  --success-color: #4cbb17;
  --error-color: #b81e40;

  /*SHADOW*/
  --shadow-1: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-2: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /*TRANSITION*/
  --transition: 0.3s ease-in-out all;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}
html {
  font-size: 100%;
  background-color: var(--lighter-main-color);
  height: 100%;
}

/*Header*/

.header {
  background-color: #ff9f00;
  background-image: linear-gradient(315deg, #ff9f00 0%, #e75480 74%);
  width: 100%;
  padding: 1rem;
  box-shadow: var(--shadow-2);
}
.header h1 {
  color: var(--withe-color);
  font-weight: 300;
  font-size: 3rem;
  padding-bottom: 1.2rem;
}
.menu-content {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: var(--black-color);
  margin-right: 1rem;

  transition: var(--transition);
}
.nav-link:hover {
  color: var(--withe-color);
}

.quick-search input,
.quick-search button,
.nav-container {
  padding: 0.5rem;
}
.quick-search button,
.nav-link {
  text-transform: uppercase;
}
.quick-search button {
  background-color: var(--lighter-main-color);
  color: var(--withe-color);
  border: none;
  transition: var(--transition);
  cursor: pointer;
}
.quick-search button:hover {
  background-color: var(--darker-main-color);
}
.quick-search input {
  border: none;
  background-color: var(--withe-color);
  cursor: pointer;
}
/*Book-container*/
.container {
  padding: 1rem;
}
.single-book {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  max-width: 900px;
  background-color: var(--withe-color);
  margin-bottom: 20px;
  box-shadow: var(--shadow-2);
}
.image-container {
  width: 25%;
  padding: 0.5rem;
  text-align: center;
}
.image-container img {
  box-shadow: var(--shadow-2);
}
.content-container {
  padding: 0.5rem;

  width: 60%;
  text-align: start;
}
.button-container {
  padding: 0.5rem;
  width: 15%;
  text-align: center;
}
.button-container button {
  padding: 0.2rem;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  font-size: 1.2rem;
  background-color: var(--detail-color);
  border: none;
  color: var(--black-color);
  transition: var(--transition);
}
.button-container button:hover {
  border: var(--darker-main-color) 1px solid;
  color: var(--darker-main-color);
  background-color: transparent;
}
.content-container h2 {
  font-weight: 400;
  color: var(--black-color);
  margin-bottom: 20px;
}
.content-container p {
  font-weight: 300;
  padding-top: 0.4rem;
  color: var(--dark-grey-color);
}
.content-container p:first-of-type {
  font-style: italic;
  color: var(--black-color);
}
.search-form {
  background-color: var(--dark-grey-color);
  padding: 2rem;
  margin-bottom: 1rem;
  box-shadow: var(--shadow-2);
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
