:root {
  /*COLORS*/

  --main-color: #e75480;
  --lighter-main-color: #ef779f;
  --darker-main-color: #d52d57;
  --detail-color: #ff9f00;
  --lighter-detail-color: #f6c449;
  --darker-detail-color: #d47d2d;
  --black-color: #15090c;
  --withe-color: #fdf2f6;
  --dark-grey-color: #5d5e5c;
  --grey-color: #848482;
  --light-grey-color: #d1d1d0;
  --success-color: #4cbb17;
  --error-color: #b81e40;

  /*SHADOW*/
  --shadow-1: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-2: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /*TRANSITION*/
  --transition: 0.3s ease-in-out all;
}
